<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE configuration>-->
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss} [%-5level] [%thread] [%logger{36}] - %m%n</Pattern>
		</layout>
	</appender>

	<root level = "info">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="was" level="DEBUG" />

</configuration>

<!--<configuration>-->

<!--	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--		&lt;!&ndash; encoders are assigned the type-->
<!--             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default &ndash;&gt;-->
<!--		<encoder>-->
<!--			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--		</encoder>-->
<!--	</appender>-->

<!--	<root level="info">-->
<!--		<appender-ref ref="STDOUT" />-->
<!--	</root>-->

<!--	<logger name="com.kakao.cafe.web" level="DEBUG" />-->

<!--</configuration>-->
